.col-lg-6
  %h1= @user.email
  %p
    company name:
    %strong= @user.company_name
    .clearfix
    location:
    %strong= @user.location
    .clearfix
    purpose:
    %strong= @user.purpose
    .clearfix
    prefered timing:
    %strong= @user.prefered_timing