.session-container
  %h2 Log in
  = simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
    .form-inputs
      = f.input :email, required: false, autofocus: true, input_html: { autocomplete: "email" } 
      = f.input :password, required: false, input_html: { autocomplete: "current-password" } 
      = f.input :remember_me, as: :boolean if devise_mapping.rememberable?
    .form-actions
      %button.btn.btn-primary
        Submit
  = link_to "Sign up", new_registration_path(resource_name), class: 'd-block'
  = link_to "Forgot password", new_user_password_path, class: 'd-block'