.row
  .border-1.col-lg-3.quaco-panel.p-2
    = render partial: 'tests/video_feedback_cv'
  .border-1.col-lg-5.vision-panel.p-2.mt-2
    %h3.loading.pull-left
      Executing...
    .zoom-buttons
      .zoom-in
        +
      .zoom-out
        = "-"
    .vision-screenshot-wrapper
      .vision-screenshot-container
        %img.vision-screenshot{src: ''}
        .vision-screenshot-overlay
        .vision-selection

  .border-1.col-lg-4.control-panel.p-2
    .message
    = link_to 'Capture screen shot', capture_screen_shot_api_interactive_tests_path, remote: true, class: 'btn-primary refresh-vision controll-btn'

    .clearfix
    .action-group
      %canvas.crop-result
      .clearfix
      
      = form_with(url: execute_touch_api_interactive_tests_path, remote: true, method: 'POST', class: 'execute-touch') do
        = submit_tag 'Touch', class: 'btn-priamry execute-touch controll-btn'

    = link_to 'Execute predefined instructions', execute_predefined_actions_api_interactive_tests_path, remote: true, method: :post, class: 'btn-primary execute-predefined controll-btn'
    
    .action-group
      = form_with(url: execute_text_command_api_interactive_tests_path, method: 'POST', remote: true, class: 'execute-command') do
        = label_tag :command
        = text_field_tag :text_command
        = submit_tag 'Execute', class: 'controll-btn'
    - if current_user.usertype == 'platform'
      .action-group
        %h2
          Admin config
        = link_to "detect marker", detect_marker_api_interactive_tests_path, class: 'detect-marker controll-btn', remote: true
        .marker-data
        = link_to "connect cam", connect_vision_api_interactive_tests_path, class: 'connect-vision d-block controll-btn', remote: true
        = link_to "disconnect cam", disconnect_vision_api_interactive_tests_path, class: 'disconnect-vision d-block controll-btn', remote: true
        .vision-data