.row
  .border-1.col-lg-3.quaco-panel.p-2
    = render partial: 'tests/video_feedback_cv'
  .border-1.col-lg-5.vision-panel.p-2.mt-2
    %h3.loading.pull-left
      Executing...
    .zoom-buttons
      .zoom-in
        +
      .zoom-out
        = "-"
    .vision-screenshot-wrapper
      .vision-screenshot-container
        %img.vision-screenshot{src: Rails.env.development? ? image_url('checkboard.jpeg') : ''}
        .vision-screenshot-overlay
        .vision-selection
        - if false
          .vision-midpoint

  .border-1.col-lg-4.control-panel.p-2
    = link_to 'Capture screen shot', '/api/test/capture', remote: true, class: 'btn-primary refresh-vision controll-btn'
    - if current_user.usertype == 'platform'
      = link_to 'Test screen', check_interactive_tests_path, class: 'btn-primary controll-btn'
      = link_to 'Caliberate screen', checker_interactive_tests_path, class: 'btn-primary controll-btn'
    .clearfix
    .action-group
      %canvas.crop-result
      .clearfix
      
      = form_with(url: execute_touch_api_interactive_tests_path, remote: true, method: 'POST', class: 'execute-touch') do
        = submit_tag 'Touch on image', class: 'btn-priamry execute-touch controll-btn'
      = form_with(url: '/api/test/touch_touch_and_return', remote: true, method: 'GET', class: 'touch-point') do
        = hidden_field_tag :x, 500, class: 'touch-point-x'
        = hidden_field_tag :y, 500, class: 'touch-point-y'
        = submit_tag 'Touch on midpoint', class: 'btn-priamry execute-touch controll-btn'
      .midpoint
    = link_to 'Execute predefined instructions', execute_predefined_actions_api_interactive_tests_path, remote: true, method: :post, class: 'btn-primary execute-predefined controll-btn'
    - if current_user.usertype == 'platform'
      .action-group
        = form_with(url: execute_text_command_api_interactive_tests_path, method: 'POST', remote: true, class: 'execute-command') do
          = label_tag :command
          = text_field_tag :text_command
          = submit_tag 'Execute', class: 'controll-btn'
    .message.mt-2
    - if current_user.usertype == 'platform'
      .action-group
        %h2
          Admin config
        = link_to "detect marker", detect_marker_api_interactive_tests_path, class: 'detect-marker controll-btn', remote: true
        .marker-data
        = link_to "connect cam", connect_vision_api_interactive_tests_path, class: 'connect-vision d-block controll-btn', remote: true
        = link_to "disconnect cam", disconnect_vision_api_interactive_tests_path, class: 'disconnect-vision d-block controll-btn', remote: true
        .vision-data
        = link_to "Restart vision server", restart_vision_server_api_interactive_tests_path, class: 'restart-vision-server d-block controll-btn', remote: true
        .vision-server-data
